.error {
  padding: 20px;
  background-color: pink;
  display: none;
}
fieldset {
  padding: 20px;
  width: 30%;
  min-width: 200px;
  margin: 20px auto;
}
fieldset > * {
  display: block;
  margin: 10px auto;
  text-align: center;
}
input {
  width: 90%;
  padding: 5px;
}